.box{
  border: 1px solid lightgray;
}

.box-content {
  font-size: 15px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 15px;
}

.immagineLocale{
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 15px;
}
